

anthropic==0.51.0


dotenv==0.9.9
fastapi==0.115.12

gcloud==0.18.3
git-filter-repo==2.47.0
google-api-core==2.24.2
google-auth==2.40.2
google-cloud-core==2.4.3
google-cloud-storage==3.1.0




pydantic==2.11.4
pydantic_core==2.33.2
pymongo==4.13.0

python-dotenv==1.1.0
python-multipart==0.0.20

requests==2.32.3


starlette==0.46.2
typing-inspection==0.4.0
typing_extensions==4.13.2
urllib3==2.4.0
uvicorn==0.34.2
